.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(12, 35, 68);

  width: 100%;

  border-bottom: 1px solid #e5e5e5;
  padding: 12px 16px;

  z-index: 1000;
}

.navbar__inner {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__brand {
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.navbar__nav {
  padding: 10px 22px;
  display: flex;
  gap: 12px;
}

.navbar__link {
  text-decoration: none;
  color: white;
  padding: 6px 8px;
  border-radius: 6px;
}

.navbar__link:hover {
  background: rgba(255, 255, 255, 0.15);
}
