body {
  margin: 0;
  padding: 0;

  min-height: 100vh;

  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #111;

  background-color: #ffffff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
